*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata/
runtime-alle/.metadata/
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
dk.dtu.compute.mbse.petrinet.diagram/.classpath

dk.dtu.compute.mbse.petrinet.editor/.classpath

*.class

dk.dtu.compute.mbse.petrinet/bin/dk/dtu/compute/mbse/petrinet/util/PetrinetAdapterFactory$1.class

org.pnml.tools.epnk.tutorials.app.pntd.graphics/.classpath

org.pnml.tools.epnk.tutorials.app.simulator/.classpath

dk.dtu.compute.mbse.petrinet.simulator/.classpath
